<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/build/prose_mirror.css">
    <link rel="stylesheet" href="/build/imports.css">
    <link rel="stylesheet" href="/build/toastr.min.css">
  </head>
  <body>
    <div class="root">
      <div id="root-search"></div>
      <div class="trunk">
        <h1><%- t("Contact_us") %></h1>
        <p><%- t("Contact_msg") %></p>
        <img src="/email.png" />
        <button class="btn btn-primary" onclick="navigator.clipboard.writeText('pascal.rainville@gmail.com')">Copier</button>
        <br/><br/>
        <a href="/" class="btn btn-primary"><%- t("Back") %></a>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>

<%- loadScript("/build/bundle") %>
