<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/login_head') %>
  </head>
  <body>
    <div class="form-container">
      <h2><a href="<%- urlWithLocale('/') %>" style="text-decoration: none;">HedaCuisine (<%- t('beta') %>)</a></h2>
      <h1><%- t('Contact_us') %></h1>
      <%- include('partials/flash') %>
      <form action="<%- urlWithLocale('/contact') %>" method="post">
        <div>
          <label for="name"><%- t('Name') %></label><br/>
          <input id="name" name="name" class="form-control" type="text" required>
        </div>
        <br/>
        <div>
          <label for="email"><%- t('Email') %></label><br/>
          <input id="email" name="email" class="form-control" type="text" autocomplete="email" required>
        </div>
        <br/>
        <div>
          <label for="message"><%- t('Message') %></label><br/>
          <textarea id="message" name="message" class="form-control" type="text" required></textarea>
        </div>
        <br/>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btn-primary" type="submit"><%- t('Send') %></button>
        <a href=<%- urlWithLocale("/") %> class="btn btn-secondary"><%- t('Back') %></a>
      </form>
    </div>
  </body>
</html>
