<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="root trunk" style="text-align: center;">
      <br><br><br>
      <img src="/sorry.jpg" style="height: 50vh; margin: auto;">
      <br><br><br>
      <h1 class="h003"><%- t('Sorry_error') %></h1>
      <a href="<%- uwl('/') %>" class="btn btn-primary"><%- t('Back') %></a>
      <a href="<%- uwl('/contact') %>" class="btn btn-secondary"><%- t('Contact_us') %></a>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
