<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div style="max-width: 800px; margin: auto; padding: 0.5em 0; text-align: center;">
      <br><br><br>
      <img src="/sorry.jpg" style="height: 50vh; margin: auto;">
      <br><br><br>
      <h1 class="h003"><%- tr('Sorry_error', locale) %></h1>
      <a href="<%- localeHref(req, '/') %>" class="btn btn-primary"><%- tr('Back', locale) %></a>
      <a href="<%- localeHref(req, '/contact') %>" class="btn btn-secondary"><%- tr('Contact_us', locale) %></a>
    </div>
  </body>
</html>
