<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/login_head') %>
  </head>
  <body>
    <div class="form-container">
      <h2><a href="<%- localeHref(req, '/') %>" style="text-decoration: none;">HedaCuisine (<%- t('beta') %>)</a></h2>
      <h1><%- t('Forgot_password') %></h1>
      <form action="/forgot" method="post">
        <div>
          <label for="email"><%- t('Email') %></label><br/>
          <input id="email" name="email" class="form-control" type="text" autocomplete="email" required autofocus>
        </div>
        <br/>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-primary">Send email</button>
        <a href="<%- localeHref(req, '/login') %>" class="btn btn-secondary"><%- t('Back') %></a>
      </form>
    </div>
  </body>
</html>