<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/build/prose_mirror.css">
    <link rel="stylesheet" href="/build/imports.css">
    <link rel="stylesheet" href="/build/toastr.min.css">
    <link rel="stylesheet" href="/auto-complete.css">
  </head>
  <body>
    <div class="root" id="root-home">
      <%- disablePreview ? '' : include('../public/homepage_'+locale.toLowerCase()+'.html') %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>

<script>
  window.gon = <%- JSON.stringify((typeof gon !== 'undefined') ? gon : null) %>
  Promise.all(Array.from(document.images).filter(img => !img.complete).map(img => new Promise(resolve => { img.onload = img.onerror = resolve; }))).then(() => {
    // Wait for images before loading script
    var element = document.createElement("script");
    element.src = "/build/bundle.js";
    document.body.appendChild(element);
});
</script>
