<!doctype html>
<html lang="en" style="height: 100%;">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/build/prose_mirror.css">
    <link rel="stylesheet" href="/build/imports.css">
    <link rel="stylesheet" href="/build/toastr.min.css">
  </head>
  <body style="height: 100%;">
    <%- include('partials/navbar') %>
    <div id="root-home">
      <%- include('../public/homepage.html') %>
    </div>
  </body>
</html>

<script>
  window.gon = <%- JSON.stringify(gon) %>
</script>
<%- loadScript("/build/home") %>
