<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <script src="/build/app.js" type="text/javascript"/></script>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <nav class="nav d-flex">
      <div></div>
      <div class="flex-grow-1"></div>
      <% if (user) { %>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" style="color: black;" href="#" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/icons/person.svg" height="20"></img>
            <%- user.username %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="/todo" class="dropdown-item">Mon profil</a>
            <form action="/logout" method="post">
              <button class="dropdown-item" type="submit">Logout</button>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
            <hr class="dropdown-divider">
            <h6 class="dropdown-header">Changer d'utilisateur</h6>
          </div>
        </div>
      <% } else { %>
        <a href="/login">Login</a>
      <% } %>
    </nav>
    <div id="root"></div>
    <p>Il y a <%= recipes.length %> recettes</p>
    <button>Button</button>
    <button class='btn btn-primary'>Button</button>
  </body>
</html>
