<!doctype html>
<html lang="<%- locale %>">
  <head>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/build/prose_mirror.css">
    <link rel="stylesheet" href="/build/imports.css">
    <link rel="stylesheet" href="/build/toastr.min.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>

<script>
  window.gon = <%- JSON.stringify(gon) %>
</script>
<%- loadScript("/build/app") %>
