<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/build/toastr.min.css">
  </head>
  <body>
    <div class="form-container">
      <h1><%- tr('New_profile', locale) %></h1>
      <% if (typeof error !== 'undefined') { %>
        <div class="error"><%- error %></div>
      <% } %>
      <form action="<%- localeHref(req, '/create_user') %>" method="post">
        <div>
          <label for="name"><%- tr('Name', locale) %></label>
          <input id="name" name="name" class="form-control" type="text" autocomplete="name" required>
        </div>
        <br/>
        <input type="hidden" name="locale" value="<%= locale %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <br/>
        <button id="create" class="btn btn-primary form-control" type="submit"><%- tr('Create', locale) %></button>
      </form>
    </div>
  </body>
</html>
