<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <h1>Reset password</h1>
    <%- include('partials/flash') %>
    <form action="/reset" method="post">
      <div>
        <label for="new-password">New password</label>
        <input id="new-password" name="password" type="password" required autofocus>
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="hidden" name="token" value="<%= token %>">
      <button type="submit">Reset</button>
    </form>
  </body>
</html>
