<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/build/prose_mirror.css">
    <link rel="stylesheet" href="/build/imports.css">
    <link rel="stylesheet" href="/build/toastr.min.css">
    <meta property="og:title" content="<%= gon.recipe.name %>">
    <meta property="og:image" content="<%= origin+'/imgs/original/'+gon.recipe.image_slug %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= origin+'/r/'+gon.recipe.id %>">
    <meta property="og:description" content="<%= descriptionRecipeIngredients(gon.recipe, locale) %>">
  </head>
  <body>
    <div class="root" id="root-r"></div>
    <%- include('partials/footer') %>
  </body>
</html>

<script>
  window.gon = <%- JSON.stringify(gon) %>
</script>
<%- loadScript("/build/bundle") %>
