<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/login_head') %>
  </head>
  <body>
    <div class="form-container">
      <h2><a href="<%- uwl('/') %>" style="text-decoration: none;">HedaCuisine (<%- t('beta') %>)</a></h2>
      <p><%= t('Waiting_reset') %>.</p>
    </div>
  </body>
</html>
