<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/login_head') %>
  </head>
  <body>
    <div class="form-container">
      <h2><a href="<%- localeHref(req, '/') %>" style="text-decoration: none;">HedaCuisine (<%- tr('beta', locale) %>)</a></h2>
      <p><%= tr('Waiting_confirm', locale) %>.</p>
    </div>
  </body>
</html>
